<div class="page-wrapper">
    <!-- start: Inner page hero -->
    <div class="inner-page-hero bg-image mb-1" data-image-src="/assets/images/profile-banner.jpg">
        <div class="container"> </div>
        <!-- end:Container -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <button type="margin:5px">ADD NEW ITEM</button>&nbsp;&nbsp;
                <button type="margin:20px">REMOVE AN ITEM</button>
            </div>
        </div>
    </div>
    <div class="result-show"></div>
</div>

<section class="restaurants-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
                <div class="sidebar clearfix m-b-20">
                    <div class="main-block">
                        <div class="sidebar-title white-txt">
                            <h6>Filter your menu</h6> <i class="fa fa-cutlery pull-right"></i>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control search-field"
                                placeholder="Search your favorite food"> <span class="input-group-btn">
                                <button title="btn" class="btn btn-secondary search-btn" type="button"><i
                                        class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <form>
                            <ul>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span
                                            class="custom-control-indicator"></span> <span
                                            class="custom-control-description">Barbecuing and Grilling</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span
                                            class="custom-control-indicator"></span> <span
                                            class="custom-control-description">Appetizers</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span
                                            class="custom-control-indicator"></span> <span
                                            class="custom-control-description">Soup and salads</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span
                                            class="custom-control-indicator"></span> <span
                                            class="custom-control-description">Seafood</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span
                                            class="custom-control-indicator"></span> <span
                                            class="custom-control-description">Beverages</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span
                                            class="custom-control-indicator"></span> <span
                                            class="custom-control-description">North Indian</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span
                                            class="custom-control-indicator"></span> <span
                                            class="custom-control-description">Chineese</span> </label>
                                </li>
                            </ul>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end:Sidebar nav -->
                </div>
                <!-- end:Pricing widget -->
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
                <div class="bg-gray restaurant-entry">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                            <div class="entry-logo">
                                <a class="img-fluid"><img src="assets/images/chilli-paneer.jpg" alt="Food logo"></a>
                            </div>
                            <!-- end:Logo -->
                            <div class="entry-dscr">
                                <h5>Chilli Paneer</h5> 
                                <span>chilli paneer is a Indo chinese starter or appetizer made by 
                                    tossing fried paneer in sweet sour and spicy chilli sauce.  
                                    </span>
                                
                            </div>
                            <!-- end:Entry description -->
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                            <div class="right-content bg-white">
                                <div class="right-review">
                                    <div class="rating-block"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star-o"></i> </div>
                                    <p>₹250</p>
                                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                                        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                                            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

                                                <div class="container">
                                                    <div class="row">
 
                                                        <div class="col-lg-2">
                                                            <div class="input-group">
                                                                                    <span class="input-group-btn">
                                                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                                        </button>
                                                                                    </span>
                                                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                                                                    <span class="input-group-btn">
                                                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                                        </button>
                                                                                    </span>
                                                                                </div>
                                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                            </div>

                            
                            <!-- end:right info -->
                        </div>
                    </div>
                    <!--end:row -->
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
                <div class="bg-gray restaurant-entry">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                            <div class="entry-logo">
                                <a class="img-fluid"><img src="assets/images/chilli-potato.jpg" alt="Food logo"></a>
                            </div>
                            <!-- end:Logo -->
                            <div class="entry-dscr">
                                <h5>Potato Chilli</h5> 
                                <span>Chilli potato is a Indo chinese starter made with fried potatoes 
                                    tossed in spicy, slightly sweet & sour chilli sauce 
                                    </span>
                                
                            </div>
                            <!-- end:Entry description -->
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                            <div class="right-content bg-white">
                                <div class="right-review">
                                    <div class="rating-block"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star-o"></i> </div>
                                    <p>₹250</p>
                                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                                        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                                            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

                                                <div class="container">
                                                    <div class="row">
 
                                                        <div class="col-lg-2">
                                                            <div class="input-group">
                                                                                    <span class="input-group-btn">
                                                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                                        </button>
                                                                                    </span>
                                                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                                                                    <span class="input-group-btn">
                                                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                                        </button>
                                                                                    </span>
                                                                                </div>
                                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                            </div>

                            
                            <!-- end:right info -->
                        </div>
                    </div>
                    <!--end:row -->
                </div>
                
            </div>

            <!--3-->

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
                <div class="bg-gray restaurant-entry">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                            <div class="entry-logo">
                                <a class="img-fluid"><img src="assets/images/Egg-roll.jpg" alt="Food logo"></a>
                            </div>
                            <!-- end:Logo -->
                            <div class="entry-dscr">
                                <h5>Egg Roll</h5> 
                                <span>An egg roll is a cylindrical, savory roll with shredded cabbage,
                                    and other fillings inside a thickly-wrapped wheat flour skin, which is fried in hot oil.
                                    </span>
                                
                            </div>
                            <!-- end:Entry description -->
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                            <div class="right-content bg-white">
                                <div class="right-review">
                                    <div class="rating-block"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star-o"></i> </div>
                                    <p>₹250</p>
                                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                                        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                                            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

                                                <div class="container">
                                                    <div class="row">
 
                                                        <div class="col-lg-2">
                                                            <div class="input-group">
                                                                                    <span class="input-group-btn">
                                                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                                        </button>
                                                                                    </span>
                                                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                                                                    <span class="input-group-btn">
                                                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                                        </button>
                                                                                    </span>
                                                                                </div>
                                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                            </div>

                            
                            <!-- end:right info -->
                        </div>
                    </div>
                    <!--end:row -->
                </div>
                
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>