<!-- banner part starts -->
<section class="hero bg-image" data-image-src="images/image01.jpg">
    <div class="hero-inner">
        <div class="container text-center hero-text font-white">
            <h1>Order Delivery & Take-Out </h1>
            <div class="steps">
                <div class="step-item step1">
                    <i class="fas fa-hotel fa-2x"></i>
                    <h4><span>1. </span>Choose Location</h4>
                </div>
                <!-- end:Step -->
                <div class="step-item step2">
                    <i class="fas fa-concierge-bell fa-2x"></i>
                    <h4><span>2. </span>Order Food</h4>
                </div>
                <!-- end:Step -->
                <div class="step-item step3">
                    <i class="fas fa-truck fa-2x"></i>
                    <h4><span>3. </span>Delivery or take out</h4>
                </div>
                <!-- end:Step -->
            </div>
            <!-- end:Steps -->
        </div>
    </div>
    <!--end:Hero inner -->
</section>
<!-- banner part ends -->

<!-- Popular block starts -->
<section class="popular">
    <div class="container">
        <div class="title text-xs-center m-b-30">
            <h2>Popular This Month In Our Restaurant</h2>
            <p class="lead">The easiest way to your favourite food</p>
        </div>
        <div class="row">
            <!-- Each popular food item starts -->
            <div class="col-xs-12 col-sm-6 col-md-4 food-item">
                <div class="food-item-wrap">
                    <div class="figure-wrap food1" data-image-src="images/food1.jpg">
                        <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="review pull-right"><a href="#">198 reviews</a> </div>
                    </div>
                    <div class="content">
                        <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                        <div class="product-name">Fried Chicken with cheese</div>
                        <div class="price-btn-block"> <span class="price">$ 15,99</span> <a href="#"
                                class="btn theme-btn-dash pull-right">Order Now</a> </div>
                    </div>
                </div>
            </div>
            <!-- Each popular food item starts -->
            <!-- Each popular food item starts -->
            <div class="col-xs-12 col-sm-6 col-md-4 food-item">
                <div class="food-item-wrap">
                    <div class="figure-wrap food2" data-image-src="images/food2.jpg">
                        <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                        <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="review pull-right"><a href="#">198 reviews</a> </div>
                    </div>
                    <div class="content">
                        <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                        <div class="product-name">Fried Chicken with cheese</div>
                        <div class="price-btn-block"> <span class="price">$ 18,49</span> <a href="#"
                                class="btn theme-btn-dash pull-right">Order Now</a> </div>
                    </div>
                    <div class="restaurant-block">
                        <div class="left">
                            <a class="pull-left" href="#"> <img src="/assets/images/logo2.png" alt="Restaurant logo" />
                            </a>
                            <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue
                                    New York</span> </div>
                        </div>
                        <div class="right-like-part pull-right"> <i class="fa fa-heart-o"></i> <span>48</span> </div>
                    </div>
                </div>
            </div>
            <!-- Each popular food item starts -->
            <!-- Each popular food item starts -->
            <div class="col-xs-12 col-sm-6 col-md-4 food-item">
                <div class="food-item-wrap">
                    <div class="figure-wrap food3" data-image-src="images/food3.jpg">
                        <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                        <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="review pull-right"><a href="#">198 reviews</a> </div>
                    </div>
                    <div class="content">
                        <h5><a href="#">The South"s Best Fried Chicken</a></h5>
                        <div class="product-name">Fried Chicken with cheese</div>
                        <div class="price-btn-block"> <span class="price">$ 21,19</span> <a href="#"
                                class="btn theme-btn-dash pull-right">Order Now</a> </div>
                    </div>
                    <div class="restaurant-block">
                        <div class="left">
                            <a class="pull-left" href="#"> <img src="/assets/images/logo3.png" alt="Restaurant logo" />
                            </a>
                            <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue
                                    New York</span> </div>
                        </div>
                        <div class="right-like-part pull-right"> <i class="fa fa-heart-o"></i> <span>48</span> </div>
                    </div>
                </div>
            </div>
            <!-- Each popular food item starts -->
        </div>
    </div>
</section>
<!-- Popular block ends -->
<!-- How it works block starts -->
<section class="how-it-works">
    <div class="container">
        <div class="text-xs-center">
            <h2>Easy 3 Step Order</h2>
            <!-- 3 block sections starts -->
            <div class="row how-it-works-solution">
                <div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col1">
                    <div class="how-it-works-wrap">
                        <div class="step step-1">
                            <div class="icon" data-step="1">
                                <i class="fas fa-hotel fa-2x icon-white"></i>
                            </div>
                            <h3>Choose a restaurant</h3>
                            <p>We"ve got your covered with menus from over 345 delivery restaurants online.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col2">
                    <div class="step step-2">
                        <div class="icon" data-step="2">
                            <i class="fas fa-concierge-bell fa-2x icon-white"></i>
                        </div>
                        <h3>Choose a tasty dish</h3>
                        <p>We"ve got your covered with menus from over 345 delivery restaurants online.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 how-it-works-steps white-txt col3">
                    <div class="step step-3">
                        <div class="icon" data-step="3">
                            <i class="fas fa-truck fa-2x icon-white"></i>
                        </div>
                        <h3>Pick up or Delivery</h3>
                        <p>Get your food delivered! And enjoy your meal! Pay online on pickup or delivery</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 block sections ends -->
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="pay-info">Pay by Cash on delivery , Card or Paypal</p>
            </div>
        </div>
    </div>
</section>
<!-- How it works block ends -->
<app-footer></app-footer>
