<!-- PAGE CONTETNT -->
<section class="gl-page-content-section">
    <div class="container-fluid">
        <div class="row">
            <!-- SEARCH MAP -->
            <div class="map-wrapper map-split">
                <div id="map">
                    <agm-map [latitude]="lat" [longitude]="long">
                    </agm-map>
                </div>
            </div>
            <!-- SEARCH MAP END -->
            
            <!-- SEARCH -->
            <div id="map-result-section" class="map-result-wrapper">
                <div class="widget clearfix">
                    <!-- /widget heading -->
                    <div class="widget-heading">
                        <h3 class="widget-title text-dark">
                                
                            </h3>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- SEARCH END-->
        </div>
    </div>
</section>
<!-- PAGE CONTETNT END -->


