<div class="about">
    <div class="inner-section">
        <h1>About Us</h1>
        <p class="text">
            We bring the season’s best mix of organic produce and hand-crafted farm products conveniently to your door by growing and partnering with local farms and artisans in your area.
        </p>

        <div class="button">
            <a routerLink="../contact">Contact Us</a>
        </div>
    
    </div>
    <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
    </div>
</div>
